<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sunmoon.mapper.ApplySupportMapper">

	<!-- 결과보고 리스트 목록 출력 sql문 -->
	<select id="getList" resultType="kr.co.sunmoon.domain.ResultReportVO">
		select R.bno, R.teamno, R.projecttitle, R.teamname, S.division, S.professorcharge, R.approval 
			from apply_support_tbl R join subjects_tbl S on R.bno = S.bno 
    		where S.year = #{year} and S.semester = #{semester} and S.subjectname = #{subjectname} and S.division = #{division}
	</select>
	
	<!-- subjects_tbl PK(bno) 값 출력 sql -->
	<select id="subjectNum" resultType="int">
		select bno from subjects_tbl where year = #{year} and semester = #{semester} 
			and subjectname = #{subjectname} and division = #{division}
	</select>

	<!-- select -->
	<select id="asRead" resultType="kr.co.sunmoon.domain.ResultReportVO"> 
		select * from 
			subjects_tbl S join apply_support_tbl R on S.bno = R.bno 
			left join apply_company_conn_tbl C on R.teamno = C.teamno
			where S.bno = #{bno} and R.teamno = #{teamno}
	</select>
	
	<select id="asTeamRead" resultType="kr.co.sunmoon.domain.ResultReportTeamVO">
		select * from apply_team_tbl where teamno = #{teamno}
	</select>
	
	
	<!-- insert -->
	<insert id="applySupportInsert" parameterType="kr.co.sunmoon.domain.ResultReportVO" useGeneratedKeys="true">
		<selectKey keyProperty="teamno" order="BEFORE" resultType="int">
			select seq_apply_support_team.nextval from dual
		</selectKey>
		insert into apply_support_tbl (teamno, bno, teamname, assigntype, projecttitle, applyfee, writer, approval) 
        values(#{teamno}, #{bno}, #{teamName}, #{assignType}, #{projectTitle}, #{applyFee}, #{writer}, '대기')
	</insert>
	<insert id="applyCompanyConnInsert">
		insert into apply_company_conn_tbl (teamno, type, company, ceo, license, business, postcode, address)  
        values(#{teamno}, #{type}, #{company}, #{ceo}, #{license}, #{business}, #{postcode}, #{address})
	</insert>
	<insert id="applyTeamInsert">
		<selectKey keyProperty="rtkey" order="BEFORE" resultType="int">
			select seq_apply_support_asteam.nextval from dual
		</selectKey>
		insert into apply_team_tbl (rtkey, teamno, department, studentid, grade, name, phonenumber, email)  
        values(#{rtkey}, #{teamno}, #{department}, #{studentId}, #{grade}, #{name}, #{phoneNumber}, #{email})
	</insert>
	
	
	<!-- update -->
	<update id="applySupportUpdate">
		update apply_support_tbl set teamname = #{teamName}, assigntype = #{assignType}, projecttitle = #{projectTitle},
    		applyfee = #{applyFee}, writer = #{writer}, approval = '대기' where teamno = #{teamno} and bno = #{bno}
	</update>
	<update id="applyCompanyConnUpdate">
		update apply_company_conn_tbl set type = #{type}, company = #{company}, ceo = #{ceo}, license = #{license},
    		business = #{business}, postcode = #{postcode}, address = #{address} where teamno = #{teamno}
	</update>
	<update id="applyTeamUpdate">
		update apply_team_tbl set department = #{department}, studentid = #{studentId}, grade = #{grade}, name = #{name}, 
    		phonenumber = #{phoneNumber}, email = #{email} where rtkey = #{rtkey}
	</update>
	
	
	<!-- delete -->
	<delete id="applySupportDelete">
		delete from apply_support_tbl where teamno = #{teamno}
	</delete>
	<delete id="applyCompanyConnDelete">
		delete from apply_company_conn_tbl where teamno = #{teamno}
	</delete>
	<delete id="applyTeamDelete">
		delete from apply_team_tbl where rtkey = #{rtkey}
	</delete>
	
	
	<!-- 과목명 리스트 -->
	<select id="subRead" resultType="kr.co.sunmoon.domain.ResultReportVO">
		select DISTINCT subjectname from subjects_tbl
	</select>
	
	<!-- 팀원 수 -->
	<select id="teamCount" resultType="int">
		select count(teamno) from apply_team_tbl where teamno = #{teamno}
	</select>
	
	<update id="approvalUpdate">
		update apply_support_tbl set approval = #{approval} where teamno = #{teamno}
	</update>
</mapper>